<li>
  <span class="title"><%= wrap(entry.title) %></span>
  <span class="body"><%= wrap(entry.body) %></span>
  <span class="timestamp">
    Posted <%= entry.created_at %> ago.
  </span>
  <span class="link">
	<ul>
	<% if current_user?(entry.user) %>
    <li><%= link_to "Delete", entry, method: :delete,
                                    data: { confirm: "Are you sure?" } %></li>
    <% end %>
  	<li><%= link_to "View comment..", entry_path(id: entry.id) %></li>
  	</ul>
  </span>
</li>